[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "sources_non_forked/goyo.vim"]
	path = sources_non_forked/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "sources_non_forked/mru.vim"]
	path = sources_non_forked/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "sources_non_forked/vim-pathogen"]
	path = sources_non_forked/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/vim-surround"]
	path = sources_non_forked/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "sources_non_forked/vim-snippets"]
	path = sources_non_forked/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "sources_non_forked/vim-snipmate"]
	path = sources_non_forked/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "sources_non_forked/vim-addon-mw-utils"]
	path = sources_non_forked/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "sources_non_forked/tlib"]
	path = sources_non_forked/tlib
	url = https://github.com/vim-scripts/tlib.git
[submodule "sources_non_forked/cscope_maps"]
	path = sources_non_forked/cscope_maps
	url = https://github.com/chazy/cscope_maps.git
[submodule "sources_non_forked/CCTree"]
	path = sources_non_forked/CCTree
	url = https://github.com/hari-rangarajan/CCTree.git
