[submodule "sources_non_forked/ack.vim"]
	path = sources_non_forked/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "sources_non_forked/ctrlp.vim"]
	path = sources_non_forked/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "sources_non_forked/goyo.vim"]
	path = sources_non_forked/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "sources_non_forked/mru.vim"]
	path = sources_non_forked/mru.vim
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "sources_non_forked/taglist.vim"]
	path = sources_non_forked/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "sources_non_forked/vim-pathogen"]
	path = sources_non_forked/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
